<!doctype html>
<html lang="en" ng-app="professoresModulo">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="imagens/favicon.ico">

    <title>Sistema Escolar</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/carousel.css" rel="stylesheet">
    <link href="css/estilos.css" rel="stylesheet">
    
    <script src="js/angular.min.js"></script>
    <script src="controller/professores.js"></script>
  </head>
  
  <body ng-controller="professoresController">

    <div ng-include src="'menus.html'"></div> 
    </br> </br> </br> 

<h1 align="center">Lista e cadastro de Professores</h1>
<div class="container">
	<form>
	  <div class="mb-3">
	    <label for="codigo" class="form-label">Código</label>
	    <input ng-model="professor.codigo" readonly="true" type="text" class="form-control" id="codigo">
	  </div>
	  <div class="mb-3">
	    <label for="nome" class="form-label">Nome</label>
	    <input type="text" required class="form-control" id="nome" ng-model="professor.nome">
	  </div>
	  <div class="mb-3">
	    <label for="email" class="form-label">Email</label>
	    <input ng-model="professor.email" type="email" class="form-control" id="email">
	  </div>
	  <div class="mb-3">
	    <label for="fone" class="form-label">Fone</label>
	    <input ng-model="professor.fone" type="text" class="form-control" id="fone">
	  </div>
	    
	  <button type="submit" class="btn btn-primary" ng-click="limparCampos()">Novo</button>
	  <button type="submit" class="btn btn-primary" ng-click="salvar()" ng-disabled="!professor.nome">Gravar</button>
	  <button type="submit" class="btn btn-danger" ng-click="excluir()">Excluir</button>
	  </br> </br>
	  <div class="mb-3">
	    <input type="text" class="form-control" id="pesquisa" placeholder="Digite a pesquisa" ng-model="pesquisaProfessor">
	  </div>
	</form>
	
	<table class="table table-striped table-hover">
		<th>Código</th>
		<th>Nome</th> 
		<th>Email</th> 
		<th>Fone</th> 
		<tr ng-repeat="professoresTabela in professores | filter:pesquisaProfessor" ng-click="selecionaProfessor(professoresTabela)">
			<td>{{professoresTabela.codigo}}</td> 
			<td>{{professoresTabela.nome}}</td>
			<td>{{professoresTabela.email}}</td>
			<td>{{professoresTabela.fone}}</td>
		</tr>
		
	</table>
	
</div>
  
</br> </br> </br> 

      <!-- FOOTER -->
      <footer class="container">
        <p class="float-right"><a href="#">Back to top</a></p>
        <p>&copy; 2017-2018 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer>
    </main>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="js/bootstrap.min.js"></script>
    
   
  </body>
</html>
